@page
@model tetris.Pages.Software.MediaBrowserModel
@{
    ViewData["Title"] = "MediaBrowser";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
    html {
        background-color: #303952;
        position: relative;
        min-height: 100%;
    }

    body {
        background-color: #303952;
    }

    #os {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0px;
    }

    .logo {
        width: 25%;
    }

    @@media only and (max-width: 600px) {
        img {
            width: 100%;
        }
    }
</style>
<body class="text-white">
    <center>
        <img class="logo" src="/img/Software/MediaBrowser.png" alt="MediaBrowser logo" />
        <h1>MediaBrowser</h1>
        <br />
        <h2>A modern version of Windows Media Browser.</h2>
        <br /><br /><br /><br />
        <p>
            MediaBrowser is a modern "Windows Media Center" like, you can view your pictures, listening to your music and watch videos. <br/>
        </p>
        <br /><br /><br />
        <h2>This page is under construction!</h2>
    </center>
</body>