@page
@model tetris.Pages.Software.MediaBrowserModel
@{
    ViewData["Title"] = "MediaBrowser";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/MediaBrowser.css"/>

<body class="text-white">
    <img class="text-center" class="logo" src="/img/Software/MediaBrowser.png" alt="MediaBrowser logo" />
    <h1 class="text-center">
        MediaBrowser
    </h1>
    <h2 class="text-center">
        A modern version of Windows Media Browser.
    </h2>
    <p class="text-center">
        MediaBrowser is a modern "Windows Media Center" like, you can view your pictures, listening to your music and watch videos. <br />
    </p>
    <h2>This page is under construction!</h2>
</body>