@page
@model tetris.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/About.css" />

<body class="bg-black text-white">
    <h1>About v38armageddon</h1>
    <p>
        We are v38armageddon, a small team of developers who want to make the software more accessible to everyone.
    </p>
    <br />
    <h2>Our history</h2>
    <div class="timeline">
        @foreach (var evt in Model.TimelineEvents)
        {
            var sideClass = evt.Side == "left" ? "TimeLineLeft" : "TimeLineRight";
            <div class="ctTimeline @sideClass">
                <div class="conTimeline">
                    <h2>@evt.Year</h2>
                    <p>@Html.Raw(evt.Description)</p>
                </div>
            </div>
        }
    </div>
    <h2>Our values</h2>
    <p>At v38armageddon, we have values that enable us to meet everyone's requirements.</p>
    <center>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/accessibility.png" alt="Accessibility icon" />
            <h3>Accessibility</h3>
            <p>
                We want to make our software accessible to everyone, so we make our software easy to use.
            </p>
        </div>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/shield.png" alt="Icon of a shield" />
            <h3>Security</h3>
            <p>
                At v38armageddon, the security is a priority for us, we choose containend application for a better security.
            </p>
        </div>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/people_community.png" alt="Three peoples that represent the fabulous community!" />
            <h3>Community friendly</h3>
            <p>
                If there is a lesson that teach us, is the Community have more power than a compagny. So we listen to everyone's opinion, even negative ones!
            </p>
        </div>
    </center>
</body>