@page
@model tetris.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<style>
    @@media only screen and (max-width: 600px) {
        img {
            width: 100%;
        }
    }
</style>

<body class="bg-black text-white">
    <h1>About v38armageddon</h1>
    <p>We are v38armageddon, a small team of developers who want to make the software more accessible to everyone.</p>
    <br />
    <h2>Our history</h2>
    <p>
        The history started in 2016 who Florian. M (founder of v38armageddon), wants to make a operating system. He created: Vincent OS. A application who simulate his operating system.
        <br />
        He started building his community with his YouTube channel and Discord server.
        <br />
        In 2020, he and his community decided to create a really new operating system, the goal are this operating system was free for everyone and easy to use by everyone.
        <br />
        In 2022, the website: <a href="https://vincent-os.v38armageddon.net">vincent-os.v38armageddon.net</a> was created. This website was the first website of v38armageddon.
        <br />
        In the same year, v38armageddon aquired a licence for publishing apps in the Microsoft Store for Windows and Xbox. The first Windows application after Vincent OS App is: WebSM.
        <br />
        In 2023, the domain name has been changed to: v38armageddon.net.
        <br />
        In the same year, a new game has developped: D.O.T, a platformer-puzzle game. There is also a new game server: ArmaLand, a Team Fortress 2 server.
    </p>
    <br />
    <br />
    <h2>Our values</h2>
    <p>At v38armageddon, we have values that enable us to meet everyone's requirements.</p>
    <center>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/accessibility.png" alt="Accessibility icon" />
            <h3>Accessibility</h3>
            <p>
                We want to make our software accessible to everyone, so we make our software easy to use.
            </p>
        </div>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/shield.png" alt="Icon of a shield" />
            <h3>Security</h3>
            <p>
                At v38armageddon, the security is a priority for us, we choose containend application for a better security.
            </p>
        </div>
        <div style="justify-content: center; align-items: center; height: 50vh;" class="text-center">
            <img style="width: 25vh; height: 25vh;" src="~/img/About/people_community.png" alt="Three peoples that represent the fabulous community!" />
            <h3>Community friendly</h3>
            <p>
                If there is a lesson that teach us, is the Community have more power than a compagny. So we listen to everyone's opinion, even negative ones!
            </p>
        </div>
    </center>
</body>