@page
@model tetris.Pages.Content_PolicyModel
@{
    ViewData["Title"] = "Content Policy";
}
<body class="bg-black text-white">
    <p>
        You are free to use the content from v38armageddon Projects (example: Music from D.O.T) as long as you use it for non-commercial purposes.
        <br />
        That means you CANNOT:
        <ul>
            <li>Place any v38armageddon content behind a paywall, in any form.</li>
            <li>Restrict access to v38armageddon content through paid-only services or platforms.</li>
        </ul>
        You CAN:
        <ul>
            <li>Use v38armageddon content in videos or streams monetized via YouTube Partner Program, Twitch Affiliate/Partner Program, or similar platforms.</li>
        </ul>
        You MUST:
        <ul>
            <li>Credit the original author.</li>
            <li>Do not contact v38armageddon for permission to use the content — this page serves as your license.</li>
        </ul>
        <br />
        This policy is relevant for only v38armageddon projects, for any other types of content, you must contact the original author for permission to use.
    </p>
</body>