@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="/css/Index.css" />

<body class="bg-black text-white">
    <img width="250vh" height="250vh" alt="v38armageddon Blog Logo" src="~/img/Game/DOT/Logo.png" />
    <h1>D.O.T is now on Steam!</h1>
    <br />
    <p>
        We've published our Steam page for our upcoming game D.O.T! <br />
        Check out the trailer, explore screenshots, and learn more about the mechanics that make D.O.T stand out. <br />
        Don't forget to <strong>wishlist</strong> D.O.T on Steam! <br />
        By adding it to your wishlist, you'll stay updated on the latest news, upcoming announcements, and our eventual launch date. Your support means the world to us and helps us reach even more players.
    </p>
    <button id="DOTSteam-button">Wishlist now on Steam!</button>
    <button id="DOTRedirect-button" asp-area="" asp-page="/Game/DOT">Discover more about D.O.T</button>
    <br /><br />
    <h2>Projects</h2>
    <p>
        We are the creators of Vincent OS, WebSM, MediaBrowser, D.O.T, and ArmaLand (and many other little projects you can found on <a href="https://github.com/v38armageddon">GitHub Page</a>. <br />
        We make simple, accessible software to assure that everyone can use it without issues. <br />
        We also make games, sometimes. Whenever its from a third part game with a dedicated server or a complete game. Just for fun!
    </p>
    <br /><br />
    <h2>Interessed in what we do? Join us!</h2>
    <p>
        We're looking for all new type of peoples who can contribute to our projects. <br />
        So, whenever you are a developper, maintainer, contributor, graphic designer. <br />
        Don't hesitate to contribute! You're welcome, no need to thanks.
    </p>
</body>

<script src="/js/Index.js"></script>