@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="/css/Index.css" />

<body class="bg-black text-white">
    <img width="250vh" height="250vh" alt="Vincent OS Logo" src="~/img/Software/VOSApp.png" />
    <h1>Test now Vincent OS 1.0 on Open Beta and give us your feedback!</h1>
    <br />
    <p>
        On 2025-07-05, Vincent OS 1.0 Open Beta has been released! <br />
        After 9 years of research and development, a stable Beta version is now working. <br />
        Keep in mind that this is not the final version, we recommend to install on second hardware or preferraly, on Virtual Machine.<br />
        By giving us feedback (on <a href="https://github.com/orgs/Vincent-OS/discussions/categories/feedback">GitHub</a>, <a href="https://reddit.com/r/VincentOS">Reddit</a> or via <a href="mailto:contact@v38armageddon.net">Email</a>), you can help us to improve the system and  final release. <br />
    </p>
    <button id="VOSDownload-button">Download now!</button>
    <button id="VOSDiscover-button">Discover more about Vincent OS</button>
    <br /><br />
    <h2>Projects</h2>
    <p>
        We are the creators of Vincent OS, WebSM, MediaBrowser, D.O.T, and ArmaLand (and many other little projects you can found on <a href="https://github.com/v38armageddon">GitHub Page</a>. <br />
        We make simple, accessible software to assure that everyone can use it without issues. <br />
        We also make games, sometimes. Whenever its from a third part game with a dedicated server or a complete game. Just for fun!
    </p>
    <br /><br />
    <h2>Interessed in what we do? Join us!</h2>
    <p>
        We're looking for all new type of peoples who can contribute to our projects. <br />
        So, whenever you are a developper, maintainer, contributor, graphic designer. <br />
        Don't hesitate to contribute! You're welcome, no need to thanks.
    </p>
</body>

<script src="/js/Index.js"></script>