@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="bg-black text-white">
    <h1>v38armageddon @ViewData["Title"]</h1>

    <p>
        This privacy policy will explain how v38armageddon uses the personal data we collect from you when you use our services.
        <br />
        Topics:
    </p>
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
    </ul>
    <br />
    <h3><strong>What data do we collect?</strong></h3>
    <p>
        When using our software (WebSM, MediaBrowser...) the following data is been collected:
    </p>
    <ul>
        <li>Name of the device.</li>
        <li>Main language used by the user.</li>
        <li>Version of the operating system used.</li>
        <li>User active session by version.</li>
        <li>Active session per user.</li>
        <li>Number of active users.</li>
        <li>Error and crash report.</li>
    </ul>
    <p>
        However, v38armageddon can choose software who not collect data at all, for example: Vincent OS, does not collect any data at all whether it is the normal version, the Linux version, or the Application version.
        <br />
        For more information, consult <a href="https://gist.github.com/v38armageddon">https://gist.github.com/v38armageddon</a> for more Privacy Policy for every software.
    </p>
    <br />
    <h3><strong>How do we collect your data?</strong></h3>
    <p>
        You directly provide v38armageddon with most of the data we collect. We collect data and process data when you:
    </p>
    <ul>
        <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website via your browser’s cookies.</li>
        <li>Use our software.</li>
    </ul>
    <p>v38armageddon may also receive your data indirectly from the following sources:</p>
    <ul>
        <li>Visual Studio App Center</li>
        <li>Microsoft Partner Center</li>
    </ul>
    <br />
    <h3><strong>How will we use your data?</strong></h3>
    <p>v38armageddon collects your data so that we can:</p>
    <ul>
        <li>Find the reason why the software doesn’t work. (Example: A software crash, we will use the crash report to find the reason why the software crashed and where the crash begins.)</li>
        <li>Analyze the data to improve the software. (Example: We will analyze the data to find the most used operating system of the software and improve its version.)</li>
    </ul>
    <p>v38armageddon does not share your data with partner companies.</p>
    <br />
    <h3><strong>How do we store your data?</strong></h3>
    <p>
        v38armageddon securely stores your data into several servers:
        <ul>
            <li>Microsoft Azure (for most majority of our services)</li>
            <li>v38armageddon internal server (some data can be stored here for some services)</li>
        </ul>
        v38armageddon will keep your analyzing data for 30 days. Once this time period has expired, we will delete your data.
    </p>
    <br />
    <h3><strong>Marketing</strong></h3>
    <p>v38armageddon does not using your data for marketing purposes.</p>
    <br />
    <h3><strong>What are your data protection rights?</strong></h3>
    <p>
        v38armageddon would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        <br />
        <strong>The right to access</strong> – You have the right to request v38armageddon for copies of your personal data.
        <br />
        <strong>The right to rectification</strong> – You have the right to request that v38armageddon correct any information you believe is inaccurate. You also have the right to request v38armageddon to complete the information you believe is incomplete.
        <br />
        <strong>The right to erasure</strong> – You have the right to request that v38armageddon erase your personal data, under certain conditions.
        <br />
        <strong>The right to restrict processing</strong> – You have the right to request that v38armageddon restrict the processing of your personal data, under certain conditions.
        <br />
        <strong>The right to object to processing</strong> – You have the right to object to v38armageddon’s processing of your personal data, under certain conditions.
        <br />
        <strong>The right to data portability</strong> – You have the right to request that v38armageddon transfer the data that we have collected to another organization, or directly to you, under certain conditions.
        <br />
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br />
    <h3><strong>Cookies</strong></h3>
    <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.

        For further information, visit allaboutcookies.org.
    </p>
    <br />
    <h3><strong>How do we use cookies?</strong></h3>
    <p>v38armageddon use only functionality cookies and limit at maximum the use of cookies from our websites. If you see any v38armageddon websites saying that we use third-party cookies, please reach us to remove unnecessary cookies.</p>
    <br />
    <h3><strong>What types of cookies do we use?</strong></h3>
    <p>There are several different types of cookies, however, our website uses:</p>
    <ul>
        <li>
            Functionality – v38armageddon uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
        </li>
    </ul>
    <br />
    <h3><strong>How to manage cookies</strong></h3>
    <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
    <br />
    <h3><strong>Privacy policies of other websites</strong></h3>
    <p>The v38armageddon website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
    <br />
    <h3><strong>Changes to our privacy policy</strong></h3>
    <p>v38armageddon keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 24 Februrary 2024 at 20H28 UTC +1.</p>
    <br />
    <h3><strong>How to contact us</strong></h3>
    <p>
        If you have any questions about v38armageddon’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
        Email us at: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br />
    <h3><strong>How to contact the appropriate authority</strong></h3>
    <p>
        Should you wish to report a complaint or if you feel that v38armageddon has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.
        Email: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br /><br />
    <hr />
    <br /><br />
    <h2>Change History</h2>
    <p>
        <strong>24 Feburary 2024 20H28 UTC +1</strong>
        <br />
        <ul>
            <li>Remove the Microsoft Clarity item (deprecated tool).</li>
            <li>Change the way how we use cookies.</li>
        </ul>
    </p>
    <br />
    <p>
        <strong>12 November 2023 12H15 CET | UTC +1</strong>
        <br />
        <ul>
            <li>Review all the Privacy Policy.</li>
            <li>Change the begin of the Privacy Policy.</li>
            <li><strong>How do we store your data?</strong>: Add v38armageddon internal server.</li>
            <li><strong>How do we store your data?</strong>: Modify the method of storing data.</li>
        </ul>
    </p>
</body>