@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="bg-black text-white">
    <h1>v38armageddon @ViewData["Title"]</h1>

    <p>
        This privacy policy will explain how v38armageddon uses the personal data we collect from you when you use our services.
        <br />
        Topics:
    </p>
    <ul>
        <li>
            <a href="#WhatDataDoWeCollect">What data do we collect?</a>
        </li>
        <li>
            <a href="#HowDoWeCollectYourData">How do we collect your data?</a>
        </li>
        <li>
            <a href="#HowWillWeUseYourData">How will we use your data?</a>
        </li>
        <li>
            <a href="#HowDoWeStoreYourData">How do we store your data?</a>
        </li>
        <li>
            <a href="#Marketing">Marketing</a>
        </li>
        <li>
            <a href="#WhatAreYourDataProtectionRights">What are your data protection rights?</a>
        </li>
        <li>
            <a href="Cookies">Cookies</a>
        </li>
        <li>
            <a href="#HowDoWeUseCookies">How do we use cookies?</a>
        </li>
        <li>
            <a href="#WhatTypesOfCookiesDoWeUse">What types of cookies do we use?</a>
        </li>
        <li>
            <a href="#HowToManageCookies">How to manage cookies</a>
        </li>
        <li>
            <a href="#PrivacyPoliciesOfOtherWebsites">Privacy policies of other websites</a>
        </li>
        <li>
            <a href="#ChangesToOurPrivacyPolicy">Changes to our privacy policy</a>
        </li>
        <li>
            <a href="#HowToContactUs">How to contact us</a>
        </li>
        <li>
            <a href="#HowToContactTheAppropriateAuthority">How to contact the appropriate authority</a>
        </li>
    </ul>
    <br />
    <h3><strong id="WhatDataDoWeCollect">What data do we collect?</strong></h3>
    <p>
        We do not collect any personal data when you use our software. Our projects are developed with a focus on privacy and open-source principles, ensuring no user data is collected, stored, or processed by default.
        <br />
        For services, in line with our Terms of Service Termination Policy, we may collect limited data related to user activity solely to prevent recidivism and ensure the security of our services. All collected information is hashed to protect user privacy while allowing us to identify repeated violations.
        <br />
        For more information, consult <a href="https://gist.github.com/florian-at-v38armageddon">https://gist.github.com/florian-at-v38armageddon</a> for more Privacy Policy for every software.
    </p>
    <br />
    <h3><strong id="HowDoWeCollectYourData">How do we collect your data?</strong></h3>
    <p>
        You directly provide v38armageddon with most of the data we collect. We collect data and process data when you:
    </p>
    <ul>
        <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website via your browser’s cookies.</li>
        <li>Use our services.</li>
    </ul>
    <p>v38armageddon may also receive your data indirectly from the following sources:</p>
    <ul>
        <li>Microsoft Partner Center</li>
    </ul>
    <br />
    <h3><strong id="HowWillWeUseYourData">How will we use your data?</strong></h3>
    <p>
        v38armageddon does not collect data from users when using our software. However, we collect data on services to ensure the security of our services and our infrastructure.
        <br />
        v38armageddon does not share your data with partner companies.
    </p>
    <br />
    <h3><strong id="HowDoWeStoreYourData">How do we store your data?</strong></h3>
    <p>
        v38armageddon securely stores your data into several servers:
        <ul>
            <li>Microsoft Azure (for most majority of our services)</li>
            <li>v38armageddon internal server (some data can be stored here for some services)</li>
        </ul>
        v38armageddon will keep your analyzing data for 30 days. Once this time period has expired, we will delete your data.
    </p>
    <br />
    <h3><strong id="Marketing">Marketing</strong></h3>
    <p>v38armageddon does not using your data for marketing purposes.</p>
    <br />
    <h3><strong id="WhatAreYourDataProtectionRights">What are your data protection rights?</strong></h3>
    <p>
        v38armageddon would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        <br />
        <strong>The right to access</strong> – You have the right to request v38armageddon for copies of your personal data.
        <br />
        <strong>The right to rectification</strong> – You have the right to request that v38armageddon correct any information you believe is inaccurate. You also have the right to request v38armageddon to complete the information you believe is incomplete.
        <br />
        <strong>The right to erasure</strong> – You have the right to request that v38armageddon erase your personal data, under certain conditions.
        <br />
        <strong>The right to restrict processing</strong> – You have the right to request that v38armageddon restrict the processing of your personal data, under certain conditions.
        <br />
        <strong>The right to object to processing</strong> – You have the right to object to v38armageddon’s processing of your personal data, under certain conditions.
        <br />
        <strong>The right to data portability</strong> – You have the right to request that v38armageddon transfer the data that we have collected to another organization, or directly to you, under certain conditions.
        <br />
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br />
    <h3><strong id="Cookies">Cookies</strong></h3>
    <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.

        For further information, visit <a href="https://allaboutcookies.org">allaboutcookies.org</a>.
    </p>
    <br />
    <h3><strong id="HowDoWeUseCookies">How do we use cookies?</strong></h3>
    <p>v38armageddon use only functionality cookies and limit at maximum the use of cookies from our websites. If you see any v38armageddon websites saying that we use third-party cookies, please reach us to remove unnecessary cookies.</p>
    <br />
    <h3><strong id="WhatTypesOfCookiesDoWeUse">What types of cookies do we use?</strong></h3>
    <p>There are several different types of cookies, however, our website uses:</p>
    <ul>
        <li>
            Functionality – v38armageddon uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
        </li>
    </ul>
    <br />
    <h3><strong id="HowToManageCookies">How to manage cookies</strong></h3>
    <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
    <br />
    <h3><strong id="PrivacyPoliciesOfOtherWebsites">Privacy policies of other websites</strong></h3>
    <p>The v38armageddon website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
    <br />
    <h3><strong id="ChangesToOurPrivacyPolicy">Changes to our privacy policy</strong></h3>
    <p>v38armageddon keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 29 October 2024 at 18H56 UTC +1.</p>
    <br />
    <h3><strong id="HowToContactUs">How to contact us</strong></h3>
    <p>
        If you have any questions about v38armageddon’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
        Email us at: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br />
    <h3><strong id="HowToContactTheAppropriateAuthority">How to contact the appropriate authority</strong></h3>
    <p>
        Should you wish to report a complaint or if you feel that v38armageddon has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.
        Email: <a href="mailto:contact@v38armageddon.net">contact@v38armageddon.net</a>
    </p>
    <br /><br />
    <hr />
    <br /><br />
    <h2>Change History</h2>
    <p>
        <strong>29 October 2024 18H56 UTC+1</strong>
        <br />
        <ul>
            <li>Update "What data do we collect" section.</li>
            <li>Remove the Visual Studio App Center item (deprecated tool by Microsoft).</li>
            <li>Change the method of how do we collect data.</li>
            <li>Change the method of how do we use data.</li>
        </ul>
    </p>
    <br />
    <p>
        <strong>24 Feburary 2024 20H28 UTC +1</strong>
        <br />
        <ul>
            <li>Remove the Microsoft Clarity item (deprecated tool).</li>
            <li>Change the way how we use cookies.</li>
        </ul>
    </p>
    <br />
    <p>
        <strong>12 November 2023 12H15 CET | UTC +1</strong>
        <br />
        <ul>
            <li>Review all the Privacy Policy.</li>
            <li>Change the begin of the Privacy Policy.</li>
            <li><strong>How do we store your data?</strong>: Add v38armageddon internal server.</li>
            <li><strong>How do we store your data?</strong>: Modify the method of storing data.</li>
        </ul>
    </p>
</body>