@page
@model tetris.Pages.ContactModel
@{
    ViewData["Title"] = "Support";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Support.css"/>

<body class="bg-black text-white">
    <h1 class="text-center">Support</h1>
    <p class="text-center">
        Having a issue with our software? There is multiple methods to contact us for support:
    </p>
    <button class="tablink" onclick="openPage('ProjectsSupport', this, '#46005d')">Projects Support</button>
    <button class="tablink" onclick="openPage('ServicesSupport', this, '#46005d')" id="defaultOpen">Services Support</button>
    <button class="tablink" onclick="openPage('OtherSupport', this, '#46005d')" id="defaultOpen">Other Support</button>
    <div id="ProjectsSupport" class="tabcontent">
        <table>
            <thead>
                <th>
                    <img width="50" height="50" src="~/img/Software/VOSApp.png" alt="The Vincent OS logo that represent a V with a O mixed and a green leaf" />
                    Vincent OS
                </th>
                <th>
                    <img width="50" height="50" src="~/img/Software/WebSM.png" alt="The WebSM logo that represent a blue cloud with WiFi signal" />
                    WebSM
                </th>
                <th>
                    <img width="50" height="50" src="~/img/Software/MediaBrowser.png" alt="The MediaBrowser logo that represent a white TV with a blue greyish dark background" />
                    MediaBrowser
                </th>
                <th>
                    <img width="50" height="50" src="~/img/Game/DOT/Logo.png" alt="The D.O.T logo with a full white circle and a blue dark background" />
                    D.O.T
                </th>
            </thead>
            <tbody>
                <td>
                    <button id="vincent-os-button">Vincent OS</button>
                </td>
                <td>
                    <button id="websm-button">WebSM</button>
                </td>
                <td>
                    <button id="mediabrowser-button">MediaBrowser</button>
                </td>
                <td>
                    <button id="dot-button">D.O.T</button>
                </td>
            </tbody>
        </table>
    </div>
    <div id="ServicesSupport" class="tabcontent">
        <table>
            <thead>
                <th>
                    <img width="50" height="50" src="~/img/Game/ArmaLand/Logo.png" alt="ArmaLand Project" />
                    ArmaLand
                </th>
            </thead>
            <tbody>
                <td>
                    <button id="armaland-button">ArmaLand</button>
                </td>
            </tbody>
        </table>
    </div>
    <div id="OtherSupport" class="tabcontent">
        <h2>
            <a href="https://reddit.com/r/v38armageddon" title="Go to the Subreddit" id="logo" data-hveid="8" class="fab fa-reddit"></a>
            Reddit
        </h2>
        <p>
            If you prefer to use Reddit to expose your problem, you can join the subreddit r/v38armageddon.
        </p>
        <br>
        <h2>
            <a href="https://steamcommunity.com/id/v38armageddon" title="Go to the Steam Group" id="logo" data-hveid="8" class="fab fa-steam"></a>
            Steam Group
        </h2>
        <p>
            You can also join the Steam Group to have help of the community members.
        </p>
        <br>
        <h2>
            <a href="mailto:contact@v38armageddon.net" title="Send a mail" id="logo" data-hveid="8" class="fas fa-envelope"></a>
            E-mail
        </h2>
        <p>
            If you prefer, you can send a mail to us.
        </p>
    </div>
</body>
<script src="~/js/Support.js"></script>