@page
@model tetris.Pages.Terms_Of_ServiceModel
@{
    ViewData["Title"] = "Terms Of Service";
}

<body class="bg-black text-white">
    <h1><strong>v38armageddon @ViewData["Title"]</strong></h1>

    <p>
        This Terms of Service will explain how v38armageddon protects your rights and governs your use of our services.
        <br />
        Topics:
    </p>
    <ol>
        <li>Definitions</li>
        <li>Privacy</li>
        <li>License</li>
        <li>Software</li>
        <p>4.1 Websites without Interaction</p>
        <p>4.2 Websites with Interaction</p>
        <li>Website</li>
        <p>5.1 Websites without Interaction</p>
        <p>5.2 Websites with Interaction</p>
        <p>5.3 Social Media</p>
        <li>Games</li>
        <li>Limitation</li>
        <li>Termination</li>
        <p>6.1 Websites without Interaction</p>
        <p>6.2 Websites with Interaction</p>
        <p>6.3 Websites without Interaction</p>
    </ol>
    <br />
    <ol>
        <h2>
            <li>
                <strong>Definitions</strong>
            </li>
        </h2>
        <ul>
            <li>"User": You.</li>
            <li>"v38armageddon": The entity and its members.</li>
            <li>"Project": Software created by v38armageddon.</li>
            <li>"Service": Project that you use on the Internet.</li>
        </ul>
        <br />
        <h2>
            <li>
                <strong>Privacy</strong>
            </li>
        </h2>
        <p>
            This term of service is under the Privacy Policy of v38armageddon, for more information, see https://www.v38armageddon.net/Privacy.
        </p>
        <br />
        <h2>
            <li>
                <strong>License</strong>
            </li>
        </h2>
        <p>
            In the utilization of our projects/services, v38armageddon offers a choice among four types of licenses:
            <ol>
                <li>GPL-3</li>
                <li>MS-PL</li>
                <li>The Unlicense</li>
                <li>Prorietary</li>
            </ol>
            Most of our projects/services are governed by Open-Source Licenses. However, in specific cases where a Proprietary License is deemed necessary, v38armageddon reserves the flexibility to apply it.
            <br /><br />
            The user is encouraging to explore more information about each license, accessible through their respective content.
            <br /><br />
            Note:
            For projects/services under Proprietary Licenses, the details of the license are included with the project/service. The user is encouraging to review and comply with the specified license terms.
        </p>
        <br />
        <h2>
            <li>
                <strong>Software</strong>
            </li>
        </h2>
        <p>
            At v38armageddon, our primary emphasis is on Open Source utilization, and we utilize GitHub as our primary platform for hosting code repositories. If it becomes necessary to create a project as Proprietary, v38armageddon reserves the absolute right to refrain from hosting the source code on GitHub. It is essential to note that once a project is Open Source, it cannot transition to being Proprietary, but a Proprietary project may be subsequently released as Open Source.
            <br /><br />
            <strong>4.1 User Responsibilities</strong><br />
            The user is engaging with the project do so WITHOUT ANY WARRANTY, including the implied warranties of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
            <br /><br />
            <strong>4.2 Proprietary Project Usage</strong><br />
            If the user utilizing a Proprietary project are required to always adhere to the specified license. Failure to comply may result in v38armageddon revoking all rights associated with the Proprietary project, potentially leading to termination.
        </p>
        <br />
        <h2>
            <li>
                <strong>Website</strong>
            </li>
        </h2>
        <p>
            <strong>5.1 Websites without Interaction</strong><br />
            Websites in this category are static pages with no interactive features. Users can view content but cannot interact directly with the site.
            <br /><br />
            <strong>5.2 Websites with Interaction</strong><br />
            Websites in this category include interactive functionalities. Users can interact with content, for example, by leaving comments, submitting forms or taking part in online discussions. By using these features, users agree to abide by the rules set out in our interaction policy available on the site.
            <br /><br />
            <strong>5.3 Social Media</strong><br />
            This section covers our activities and interactions on social media platforms. We encourage users to participate, share and interact with our content on these platforms. By engaging in interactions on social media, users agree to abide by the rules and policies specific to each platform, as well as our interaction rules available on our site.
            <br /><br />
        </p>
        <br />
        <h2>
            <li>
                <strong>Games</strong>
            </li>
        </h2>
        <p>
            When playing our games, no online connection is required for a single-player game. Additionally, we commit to not implementing any Digital Rights Management (DRM) measures due to compatibility problems between Operating Systems.
            <br /><br />
            <strong>Multiplayer:</strong><br />
            ArmaLand consists of several servers hosted on our servers for multiplayer games that we have created; it is the main server accessible by clicking on "Quick Play."
            <br /><br />
            For other servers (e.g., Team Fortress 2) where we have an ArmaLand server, please be aware that these servers can be terminated at any time at the request of the original creators.
            <br /><br />
            It is important to note that each game with a dedicated server that we host is subject to specific rules. Please be aware that these rules can change at any time.
            <br /><br />
            It is important to note that each game that has a dedicated servers when we host. There are specific rules to it, please note that rules can change at any times.
        </p>
        <br />
        <h2>
            <li>
                <strong>Limitation</strong>
            </li>
        </h2>
        <p>
            This Terms of Services is only applicable to all v38armageddon projects and services. Whenever it is from a fully service or with a third part service. For services that use third part service (e.g: Discord), please refer in priority to their Terms of Service.
        </p>
        <br />
        <h2>
            <li>
                <strong>Termination</strong>
            </li>
        </h2>
        <p>
            <strong>8.1 Termination Policy</strong><br />
            <br />
            v38armageddon maintains a stringent termination policy, ensuring transparency and due process. We are committed to informing the user in the event of termination. It is important to note that no appeal can be submitted once termination is executed.
            <br /><br />
            <strong>8.2 Review Process</strong><br />
            <br />
            Each termination is meticulously reviewed by v38armageddon. If the user believes they have been wrongly terminated, we undertake a thorough examination and will communicate our final decision.
            <br /><br />
            <strong>8.3 Types of Terminations</strong><br />
            <ul>
                <li><strong>Community Ban (ComBan)</strong></li>
                <br />
                This occurs when the user violates a rule related to a specific service of v38armageddon (e.g: Discord Server rules).
                <br />
                <br />
                <li><strong>ArmaBan</strong></li>
                <br />
                A permanent ban invoked when the user fails to comply with our Terms of Services.
            </ul>
            <br />
            We prioritize fairness and integrity in our termination procedures, aiming to maintain a safe and respectful environment for our community.
        </p>
    </ol>
</body>