@import url('../fonts/segoe-ui/Segoe Fluent Icons.ttf');
@import url('../fonts/segoe-ui/Segoe UI.ttf');
@import url('../fonts/avenir/stylesheet.css');

@font-face {
    font-family: 'FuturaLT-BoldOblique';
    src: url('../fonts/futura/FuturaLT-BoldOblique.ttf');
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    font-family: Avenir, Arial, sans-serif;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin-bottom: 60px;
}

h1 {
    font-family: FuturaLT-BoldOblique, Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

h2 {
    font-family: Avenir, Arial, sans-serif;
}

.fluent {
    font-family: 'Segoe Fluent Icons'
}

a {
    text-decoration: none;
    color: white;
}