@import url('../fonts/segoe-ui/Segoe Fluent Icons.ttf');
@import url('../fonts/segoe-ui/Segoe UI.ttf');
@import url('../fonts/avenir/stylesheet.css');
@import url('../fonts/futura-lt/stylesheet.css');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    font-family: Avenir, Arial, sans-serif;
}

body {
    margin-bottom: 60px;
}

h1 {
    font-family: 'FuturaLT Bold Oblique', Arial, sans-serif;
}

h2 {
    font-family: Avenir, Arial, sans-serif;
}

.fluent {
    font-family: 'Segoe Fluent Icons'
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: 'Segoe UI', Arial, sans-serif;
}