@page
@model vBlog.Pages.GamesModel
@{
    ViewData["Title"] = "Games Category";
}

<body class="bg-black text-white">
    <h1>Games Category</h1>
    <a href="/Post/dot-demo-is-now-available">
        <h2>D.O.T Demo is now available</h2>
    </a>
    <p>By v38armageddon - 2025-05-22</p>
    <a href="/Post/news-about-d-o-t">
        <h2>News about D.O.T</h2>
    </a>
    <p>By v38armageddon - 2024-05-28</p>
</body>
