@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body class="bg-black text-white">
    <h1>Recent Posts</h1>
    <img class="img-thumbnail" src="/img/thumbnails/2025-08-01-half-a-year-of-updates-and-development.png" alt="Thumbnail of the article: Half a Year of Updates and Development"/>
    <h2>
        <a href="/Post/half-a-year-of-updates-and-development">
            Half a Year of Updates and Development
        </a>
    </h2>
    <p>By v38armageddon - 2025-08-01</p>
    <img class="img-thumbnail" src="/img/thumbnails/2025-05-22-dot-demo-is-now-available.png" alt="Thumbnail of the article: D.O.T Demo is now available"/>
    <h2>
        <a href="/Post/dot-demo-is-now-available">
            D.O.T Demo is now available
        </a>
    </h2>
    <p>By v38armageddon - 2025-05-22</p>
    <img class="img-thumbnail" src="/img/thumbnails/2024-09-15-preserving-our-creations.png" alt="Thumbnail of the article: Preserving our creations"/>
    <h2>
        <a href="/Post/preserving-our-creations">
            Preserving our creations
        </a>
    </h2>
    <p>By v38armageddon - 2024-09-15</p>
    <img class="img-thumbnail" src="/img/thumbnails/2024-08-15-twitch-stream-coming-to-v38armageddon.png" alt="Thumbnail of the article: Twitch Stream coming to v38armageddon"/>
    <h2>
        <a href="/Post/twitch-stream-coming-to-v38armageddon">
            Twitch Stream coming to v38armageddon
        </a>
    </h2>
    <p>By v38armageddon - 2024-08-15</p>
    <h2>
        <a href="/Post/news-about-d-o-t">
            News about D.O.T
        </a>
    </h2>
    <p>By v38armageddon - 2024-05-28</p>
</body>