@page
@model vBlog.Pages.SoftwareModel
@{
    ViewData["Title"] = "Software Category";
}

<body class="bg-black text-white">
    <h1>Software Category</h1>
    <a href="/Post/new-websm-version">
        <h2>New WebSM version!</h2>
    </a>
    <p>By v38armageddon - 2024-04-06</p>
    <a href="/Post/websm-new-platform-announcement">
        <h2>WebSM - New platform announcement</h2>
    </a>
    <p>By v38armageddon - 2024-03-02</p>
</body>