@page
@model vBlog.Pages.StuffModel
@{
    ViewData["Title"] = "Stuff Category";
}

<body class="bg-black text-white">
    <h1>Stuff Category</h1>
    <a href="/Post/half-a-year-of-updates-and-development">
        <h2>Half a Year of Updates and Development</h2>
    </a>
    <p>By v38armageddon - 2025-08-01</p>
    <a href="/Post/preserving-our-creations">
        <h2>Preserving our Creations!</h2>
    </a>
    <p>By v38armageddon - 2024-09-15</p>
    <a href="/Post/twitch-stream-coming-to-v38armageddon">
        <h2>Twitch Stream coming to v38armageddon</h2>  
    </a>
    <p>By v38armageddon - 2024-08-15</p>
    <a href="/Post/welcome-to-a-new-website">
        <h2>Welcome to a new Website!</h2>
    </a>
    <p>By v38armageddon - 2024-02-25</p>
</body>
