@page
@model vBlog.Pages.Vincent_OSModel
@{
    ViewData["Title"] = "Vincent OS Category";
}

<body class="bg-black text-white">
    <h1>Vincent OS Category</h1>
    <p>Nothing to see here, for the moment...</p>
</body>
    