@page
@model tetris.Pages.Game.ArmaLandModel
@{
    ViewData["Title"] = "ArmaLand";
}

<link rel="stylesheet" href="/css/ArmaLand.css"/>

<body class="bg-black text-white">
    <center>
        <h1>ArmaLand, a new way to have fun!</h1>
        <p>
            ArmaLand is a group of servers when you can have fun with your friends, and chill with them! <br />
            The goal of this servers is to have fun, and to make new friends! <br />
            If you've had a big day, come to ArmaLand to change your mind!
        </p>
    </center>

    <h2>Games available:</h2>
    <table>
        <thead>
            <th>
                <img width="50" src="~/img/Game/ArmaLand/Logo.png" alt="ArmaLand logo for the Classic Team Fortress 2 Server"/>
                [Classic] Team Fortress 2
            </th>
        </thead>
        <tbody>
            <td>
                <br />
                <button id="steam-connect-classic-button">Connect now!</button>
                <br /> <br />
                <button id="steam-group-button">Join the Steam Group!</button>
            </td>
        </tbody>
    </table>
</body>

<script src="~/js/ArmaLand.js"></script>