@page
@model tetris.Pages.Game.DOTModel
@{
    ViewData["Title"] = "D.O.T";
}

<style>
    html {
        background-color: #000012;
        position: relative;
        min-height: 100%;
    }
    body {
        background-color: #000012;
    }
    @@media only screen and (max-width: 600px) {
        img {
            width: 100%;
        }

        iframe {
            width: 100%;
        }
    }
    #imgBorder {
        border: 10px solid #ffffff;
    }
</style>

<body class="text-white">
    <center>
        <img src="/img/Game/DOT/banner.png" width="950" />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B6zMDr227l8?si=JLP1N0h-pG2PZeXL" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplayw<x; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
        <h1>D.O.T - Master puzzles, platform as a circle!</h1>
        <br /><br />
        <img id="imgBorder" src="/img/Game/DOT/D.O.T 18_11_2024 18_55_00.png" width="950" />
        <br /><br />
        <h2>Puzzle as a Circle</h2>
        <p>
            In D.O.T, you take on the role of a circle navigating through a series of puzzles intertwined with platforming elements.
            Your mission is to collect small circles scattered across the environment, each one bringing you closer to unlocking the ultimate goal: the star that opens the gateway to the next level.
        </p>
        <br /><br />
        <img id="imgBorder" src="/img/Game/DOT/D.O.T 18_11_2024 18_50_48.png" width="950" alt="Screenshot of D.O.T"/>
        <br /><br />
        <h2>Minimalist styles</h2>
        <p>
            Embracing a classic graphic style featuring only two unique colors, D.O.T challenges your wit and reflexes as you maneuver through mind-bending puzzles in a minimalist yet captivating world.
        </p>
        <br /><br />
        <img id="imgBorder" src="/img/Game/DOT/D.O.T 18_11_2024 18_53_23.png" width="950" alt="Screenshot of D.O.T" />
        <br /><br />
        <h2>Beware of void!</h2>
        <p>
            Danger lurks everywhere in D.O.T, and the void system is there to prove it. One false step into the void, and you start the whole level all over again! Watch your jumps!
        </p>
        <br /><br />
        <img id="imgBorder" src="/img/Game/DOT/D.O.T 18_11_2024 18_52_11.png" width="950" alt="Screenshot of D.O.T" />
        <br /><br />
        <h2>Two Game Modes to Suit Your Style</h2>
        <ul>
            <li>
                <strong>Chill</strong> Perfect for a more relaxed experience. You can respawn after falling, allowing you to learn the levels at your own pace and enjoy each challenge.
            </li>
            <li>
                <strong>One Try</strong> One attempt, one fall, and it’s <strong><u>Game Over</u></strong>. Can you finish the game without a single mistake?
            </li>
        </ul>
        <br /><br />
        <img id="imgBorder" src="/img/Game/DOT/D.O.T 18_11_2024 18_51_55.png" width="950" alt="Screenshot of D.O.T" />
        <br /><br />
        <h2>Features</h2>
        <ul>
            <li>
                <strong>Unique Puzzle-Platforming Gameplay</strong> Navigate through challenging levels combining puzzles and platforming mechanics.
            </li>
            <li>
                <strong>Minimalist Art Style</strong> Experience a visually striking world designed with just two colors.
            </li>
            <li>
                <strong>Adaptive Difficulty</strong> Choose between two modes — <i>Chill</i>  for a relaxed experience and <i>One Try</i>  for an intense challenge.
            </li>
            <li>
                <strong>Precision Mechanics</strong> Master tight controls where every jump and movement matters.
            </li>
            <li>
                <strong>Replayability</strong> Test your skills and improve your performance in <i>One Try</i>
            </li>
            <li>
                <strong>Controller Support</strong> Play on a Keyboard and Mouse or even, with your favorite controller!
            </li>
        </ul>
        <br /><br /><br /><br />
        <h2>
            Soon, on Steam (Windows, Linux), itch.io and Xbox One!
        </h2>
        <p>
            D.O.T is currently in development and will be released on Steam (Windows, Linux), Microsoft Store (Xbox One) and itch.io (Windows, Linux).
        </p>
        <iframe src="https://store.steampowered.com/widget/3357970/" frameborder="0" width="646" height="190"></iframe>
        <br />
        <iframe frameborder="0" src="https://itch.io/embed/2191353?linkback=true&amp;bg_color=000012&amp;fg_color=ffffff&amp;link_color=46005d&amp;border_color=323244"
                width="552" height="167">
            <a href="https://v38armageddon.itch.io/dot">D.O.T by v38armageddon</a>
        </iframe>
    </center>
</body>