<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="Simple software, operating system, and many more!"/>
        <link rel="sitemap" type="application/xml" title="Sitemap" href="https://www.v38armageddon.net/sitemap.xml">
        <title>@ViewData["Title"] - v38armageddon</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/tetris.styles.css" asp-append-version="true" />
        <link rel="icon" href="~/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
        <link rel="manifest" href="~/site.webmanifest">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    </head>
    <body>
        <header class="bg-black text-white">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="~/img/Logo banner nobg.png" alt="v38armageddon logo" width="250vh"/>
                        </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/About">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" asp id="softwareDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Software
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="softwareDropdown">
                                    <li>
                                        <a class="dropdown-item text-black" href="https://vincent-os.v38armageddon.net">Vincent OS</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Software/WebSM">WebSM</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-black" href="https://apps.microsoft.com/detail/9pl4twb5slbq">MediaBrowser</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" asp id="gameDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Games
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="gameDropdown">
                                    <li>
                                        <a class="dropdown-item text-black" asp-area="" asp-page="/Game/DOT">D.O.T</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Game/ArmaLand">ArmaLand</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Support">Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="https://docs.v38armageddon.net">Docs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        
        <!--This is terrible implementation for Mobile, works on PC though-->
        <footer class="border-top footer bg-black text-muted">
            <div class="container">
                &copy; 2022 - 2024 v38armageddon - All Right reserved - <a style="text-decoration: none;" asp-area="" asp-page="/Terms-Of-Service">Terms of service</a> - <a style="text-decoration: none;" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>